.reformProduct{
  text-align: center;
  margin-top: 40px;
  max-width: 1020px;
  margin: 0 auto;
  h5{
    font-size: 30px;
    line-height: 50px;
    color: #333;
    font-weight: 400;
    margin-top:50px;
  }
  .img{
    line-height: normal;
    max-width: 400px;
    margin:0 auto;
    img{
      width: 100%;
      vertical-align: middle;
    }
  }
  .ajk_diver{
    padding:0 30px;
    line-height: 24px;
    margin-bottom: 50px;
    margin-top: 10px;
  }
  .content{
    padding: 50px;
    >p{
      >span{
        font-size:16px!important;
        >img{
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width:749px) {
  .reformProduct{
    h5{
      font-size: 24px;
      margin-top:30px;
    }
    .ajk_diver{
      margin-bottom: 30px;
    }
    .content{
      padding: 20px;
      >p{
        >span{
          font-size:14px!important;
          >img{
            width: 100%;
          }
        }
      }
    }
  }
}
